body{

    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    background-color: orange;
    color:white;
   
}

#container > .human{
    display:none;

}
#reset{
    display:none;
}

#word{
    border-radius: 20px;
    padding: 20px;
}

span{
    padding: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons > * {
    border-radius: 20%;
    font-size: 1em;

    padding: 20px;
    background-color: darkorange;
    border: solid black;
    margin: 25px;
    justify-self: center;
    align-self: center;
}


#answer{
    text-transform: uppercase;
}

#display{
    text-transform: uppercase;
}
.buttons > *:hover{
    background-color: #555;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

svg{
    margin-bottom: 0%;
}

h1{
    margin: 0%;
}

@keyframes flowgreen {

    5%{
        background-color: linear-gradient(repeat(green, 7), blue);
    }
    
}