<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script defer src="../static/js/home.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home-styles.css') }}">
</head>
<body>
    <header>
        <h1>JavaScript MiniGames!</h1>
        <h2>Designed by Jeffrey Wang</h2>
    </header>
    
    <div class="buttons">
        <a href="/hangman">Hangman</a>
        <a href="/tic-tac-toe">Tic Tac Toe</a>
        <a href="/color-guesser">Color Guesser</a>
    </div>
</body>
</html>